@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project 2</h1>
    <p><a href="https://localhost:5001/project/index">Manage Projects</a></p>
    <p><a href="https://localhost:5001/person/index">Manage People</a></p>
    <p><a href="https://localhost:5001/projectrole/index">Manage Project Roles</a></p>
    <p><a href="https://localhost:5001/project/report">View Project Report</a></p>
    <p><a href="https://localhost:5001/person/report">View People Report</a></p>
</div>
